html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family:sans-serif;
}
.container{
    width:1110px;
    margin:0 auto;
    display: block;
}
.grid-container{
    display: grid;
}
.main-header{
    padding-top: 61px;
    padding-bottom: 96px;
}
.main-header .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:856px;
}
.nav-bar ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:29px;
}
.nav-bar a{
    text-decoration: none;
    font-size:18px;
    font-weight: 700;
    letter-spacing: -0.35px;
    color:#111111;
}
.hero-section{
    padding-bottom: 144px;
}
.hero-section .grid-container{
    grid-template-columns: 1fr 1fr;
    gap:190px;
}
.hero__desc{
    width:640px;
    height: 251px;
}
.hero__desc p{
    margin-bottom: 32px;
    font-size:22px;
    font-weight:700;
    letter-spacing: -0.42px;
    color:#4A4FF2;
}
.hero__desc h1, .hero__desc span{
    width: fit-content;
    font-size:40px;
    font-weight:700;
    line-height: 60px;
    color:black;
}
.hero__desc span{
    color:#4A4FF2;
}

.hero__quote{
    display: grid;
    grid-template-rows: 1fr 23px;
    gap:9px;
    padding-bottom: 30px;
}

.hero__quote span{
    width:30px;
    border-bottom: 2px solid rgba(1,1,1,0.6);
}
.hero__quote p{
    font-size:18px;
    font-style: italic;
    color:rgba(1,1,1,0.6);
}

.photo-section{
    padding-bottom: 91px;
}

.photo-section .grid-container{
    grid-template-columns: 357px 356px 350px;
    gap:15px;

}
.photo__flex-column{
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items: center;
}


.service-section{
    padding-bottom: 101px;
}
.service-section .grid-container{
    grid-template-columns: 635px 1fr 1fr;
    gap:70px;
}
.service__content h1{
    font-size: 28px;
    font-weight:700;
    line-height: 38px;
    margin-right: 24px;
}
.service__list ul{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding:8px 0px;
}
.service__list li{
    font-size: 18px;
    font-weight: 400;
    color:rgba(1,1,1,0.6);
}

.awards-section{
    padding-bottom: 114px;
}

.awards-section .grid-container{
   grid-template-rows: 1fr 1fr;
}
.award__content{
    height:409px;
    display: grid;
    grid-template-columns: 474px 285px 190px 28px;
    padding-top: 50px;
    padding-bottom: 58px;
    border-top: 2px solid #D8D8D8;
    border-bottom: 2px solid #D8D8D8;
}
.award__content:last-child{
    border-top: none;
}
.award__title, .award__text, .award__year{
    display:flex;
    flex-direction: column;
    gap:167px;
}
.award__text{
    gap: 80px;
}
.award__year{
    padding-left: 121px;
}

.award__type h1{
    font-size:22px;
    font-weight:700;
}
.award__title p{
    font-size:18px;
    font-weight:700;
}
.award__text p, .award__year p{
    font-size:16px;
}
.award__text-top p:last-child, .award__text-bottom p:last-child{
    margin-top: 12px;
    color: rgba(1,1,1,0.6);
    line-height: 26px;
}


.main-footer{
    padding-bottom: 47px;
}

.main-footer .grid-container{
    grid-template-columns: 757px 260px 95px;
}
.footer__nav ul, .footer__icons{
    display: flex;
    gap:30px;
}
.footer__nav li{
    font-size:18px;
    font-weight:700;
    letter-spacing: -0.35px;
}
.footer__icons{
    gap:24px;
}
.footer__icons img{
    width:15px;
    height:15px;
}